<ifModule mod_expires.c>
    ExpiresActive On
    #по умолчанию кеш на 5 секунд
    ExpiresDefault "access plus 5 seconds"
    #кэшируем флэш и изображения на месяц
    ExpiresByType img/x-icon "access plus 1 month"
    ExpiresByType img/jpeg "access plus 4 weeks"
    ExpiresByType img/png "access plus 30 days"
    ExpiresByType img/gif "access plus 43829 minutes"
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    #кэшируем CSS, JavaScript и текстовые файлы на одну неделю
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    #кэшируем HTML и HTM файлы на один день
    ExpiresByType text/html "access plus 43200 seconds"
    #кэшируем XML файлы на десять минут
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
 
<IfModule mod_setenvif.c>
  BrowserMatch "MSIE" force-no-vary
  BrowserMatch "Mozilla/4.[0-9]{2}" force-no-vary
</IfModule>
