.portfolio {
    @include flex-d-col();
    align-items: center;
    color: #2e2f35;
    font-family: sans-serif, Arial, Helvetica;
}
.portfolio-main {
    @include flex-d-col();
    align-items: center;
    width: 100%;
    .image-portfolio {
        padding-bottom: 0;
    }
}
.portfolio-title-block {
    padding-bottom: 4.3rem;
}
.portfolio-block_item {
    width: 48.5%;
}
.portfolio-block {
    @include flex-d-row();
    justify-content: space-between;
    padding-bottom: 7rem;
}
.works_item__my-portfolio {
    background: linear-gradient(45deg,#75bdf8,#5afd99 );
}
.works_item__alpha {
    background: linear-gradient(45deg,rgb(255, 99, 99), rgb(255, 207, 117));
}
.headline__padding {
    padding-top: 7rem;
}