@import url('https://fonts.googleapis.com/css?family=Mukta:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"');
@font-face {
  font-family: Renogare; /* Имя шрифта */
  src: url("../../fonts/Renogare-Regular.otf"); /* Путь к файлу со шрифтом */
 }
@mixin flex-d-row() {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
}
@mixin flex-d-col() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}
$bg: #f3f8fa;
$white: #fff;
$black: #282936;
$links: #2e2f35;
$links-hover: #58585a;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fffdfd;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6, header, main {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    @include flex-d-col();
    align-items: center;
    max-width: 1340px;
    padding: 0 20px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.main-section {
  width: 100%;
  height: auto;
}


$color-4: #eead68;
$color-3: #eec368;
$color-2: #eece68;
$color-1: #eed968;
$color-5: #ee8c68;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}
.preloader-main {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 9999;
    animation-delay: 1s;
}
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation-delay: 1s;
}

@for $i from 1 through 5 {
  .item-#{$i} {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    @include anim();
    background-color: nth($color, $i);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.5s all ease;
      transform: scale(1);
    }
  }
}
