.section-portfolio {
    @include flex-d-col();
    align-items: center;
    margin-bottom: 8rem;
    padding-bottom: 4rem;
    border-bottom: .0625rem solid #efeded;
    
}
.works {
    @include flex-d-row();
    justify-content: space-around;
    height: auto;
    padding-bottom: 30px;
}
.works_item {
    width: 46%;
    height: auto;
}   
.works-link {
    @include flex-d-col();
    align-items: center;
    text-decoration: none;
    padding: 30px;
}
.image-portfolio {
    width: 100%;
    height: auto;

}
.image-hover {
    padding-top: 30px;
    transform: scale(1.18);
    transition: all 0.7s linear;
}
.image-leave {
    padding-top: 0;
    transform: scale(1);
    transition: all 0.3s linear;
}
.works_item__dark {
    background: linear-gradient(45deg,#8472ec,#a8c8ff );
}
.works_item__light {
    background: linear-gradient(45deg,#ffa42d ,#fff350);
}
.works_describe {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-shadow: 0 0 40px rgba(0,0,0,.35 );

    padding-bottom: 0.8rem;
    font-family: cursive, sans-serif, Arial, Helvetica;
}



//buttton learn more
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
  }
    .learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: sans-serif, Arial, Helvetica;
      width: 13rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: linear-gradient(-45deg, #7abdcc, #4b97c7);
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
            background: $white;
            transform: translate(1rem, 0);
            }
          }
        }
        .button-text {
          color: $white;
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 2.5rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    
  
  //buttton learn more
//buttton about
.button-about {
    width: 14.8rem;
    .button-text {
        margin: 0 0 0 2rem;
    }
}



//buttton about